layout python

# if PROJECT_ROOT already defined use it
# else use DIRENV_DIR if available
# else use PWD
export PROJECT_ROOT=${PROJECT_ROOT:-${DIRENV_DIR:-$PWD}}

# project name is the name of this folder
export PROJECT_NAME=${PROJECT_ROOT##*/}

kitty @ set-tab-title $PROJECT_NAME
